.container--header {
  max-width: 600px;
  padding: 68px 16px 0px 16px;

  .menu__icon {
    display: none;

    @media (max-width: 567px) {
      & {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
      }

      & span,
      &::before,
      &::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transform: all 0.3s ease 0s;
        background-color: $black-bckg;
      }

      &::before,
      &::after {
        content: "";
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      & span {
        top: 50%;
        transform: scale(1) translate(0px -50%);
      }

      &._active span {
        transform: scale(0) translate(0px, -50%);
        background-color: $white-bckg;
      }

      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
        background-color: $white-bckg;
      }

      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
        background-color: $white-bckg;
      }
    }
  }

  @media (max-width: 567px) {
    .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: all 0.3s ease 0s;
      overflow: auto;

      &._active {
        left: 0;
      }

      & a {
        display: block;
        margin: 0px 0px 30px 0px;

        & :last-child {
          margin: 0px;
        }
      }
    }
  }

  .menu__links-wrap {
    @extend %flex-spb;

    @media (max-width: 567px) {
      &._active {
        display: block;
        margin: 40px 0px 0px 0px;
      }
    }

    .menu__logo {
      @media (max-width: 567px) {
        &._active {
          display: none;
        }
      }
    }

    .menu__links {
      font-size: 13px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: $menu-links;

      @media (max-width: 567px) {
        & {
          font-size: 24px;
          display: block;
          margin: 23px 0px;
          color: $white-bckg;
        }

        &:first-child {
          margin: 0px;
        }
      }

      &:hover {
        color: $green;
        transition-duration: 0.5s;
      }
    }

    & img {
      @extend %image;
    }
  }
}